
@model LawFirm.Models.ArticleInfo


<div class="item-container">
    <div class="img-preview">
        <img src="@Model.ImagePath" class="img-responsive" />
    </div>
    <div class="details">
        <div class="data">
            @Model.CreationTime.Day.@Model.CreationTime.Month.@Model.CreationTime.Year
        </div>
        <div class="like">
            <a>
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span>@Model.Likes</span>
            </a>
        </div>
        <div class="comment">
            <a>
                <i class="glyphicon glyphicon-comment"></i>
                <span>@Model.Comments</span>

            </a>
        </div>
    </div>
    <div class="title text-uppercase">
        <a href="@Url.Action("Details", "Blog", new {id = Model.Id})">@Model.Title</a>
    </div>
    <div class="short-text">
        <div>
            @Html.Raw(Model.Text)
            <a href="@Url.Action("Details", "Blog", new {id = Model.Id})"> → </a>
        </div>
    </div>
</div>