@model LawFirm.Presenter.Models.BlogViewModels.ArticleViewModel

<div class="article-text">
    @Html.Raw(Model.Text)
</div>
<div class="details full">
    <div class="date-publicate ">
        @Model.CreationTime
    </div>
    @Html.Partial("../Like/_Like", Model.Likes)
</div>
<div class="comments">
    <div class="comments-title">
        @if (Model.Comments != null) {
            <h4>
                Комментарии (<span id="commentsCount" value="@Model.TotalComments">@Model.TotalComments</span>)
            </h4>
        }
    </div>
    <div class="comments-collection" id="comments-collection">
        @if (Model.Comments != null) {
            foreach (var comment in Model.Comments) {
                @Html.Partial("../Comment/_Comment", comment)
            }
        }
    </div>
</div>