<!--
<div class="img-preview">
    <img src="~/Images/Blog/Blog-photos.jpg" class="img-responsive" />
</div>
<div class="article-text">
    <p>
        Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nullaEt tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis.

        Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nullaEt tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

        Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

        Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

    </p>
</div>
<div class="details full">
    <div class="date-publicate ">25 сентября, 2016</div>
    <div class="like">
        <a>
            <i class="glyphicon glyphicon-heart-empty"></i>
            <span>6</span>
        </a>
    </div>
</div>
<div class="comments">
    <div class="comments-title">
        <h4>Комментарии (2)</h4>
    </div>
    <div class="comments-collection">
        <div class="comment-one">
            <div class="comment-details">
                <span class="author-name">Дэвид Вильсон </span> |
                <span class="date-comment">1.11.2016 22:12 </span>
            </div>
            <div class="comment-text">
                Взвешиваем два любых набора по 3 шара (+1 взвешивание).
                Если наборы весят одинаково, то взвешиваем оставшиеся два шара (+1 взвешивание) и определяем тяжёлый шар.
                Если наборы весят по-разному, то из более тяжёлого набора берём любые два шара и взвешиваем (+1 взвешивание). Если шары весят одинаково, то тяжёлый шар – третий из набора, который не взвешивали. Иначе тяжёлый шар – тот который больше весит.
            </div>
            <div class="comment-info">
                <div class="like">
                    <a>
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <span>2</span>
                    </a>
                </div>
                <div class="comment">
                    <a>
                        <span>Ответить</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="comment-one">
            <div class="comment-details">
                <span class="author-name">Nicolay K.L. </span> |
                <span class="date-comment">2.11.2016 22:12 </span> |
                <span class="answer-comment">
                    Ответ
                    <span class="author-name">Дэвид Вильсон </span>от
                    <span class="date-comment">2.11.2016 22:12</span>
                </span>
            </div>
            <div class="comment-text">
                Взвешиваем два любых набора по 3 шара (+1 взвешивание).
                Если наборы весят одинаково, то взвешиваем оставшиеся два шара (+1 взвешивание) и определяем тяжёлый шар.
                Если наборы весят по-разному, то из более тяжёлого набора берём любые два шара и взвешиваем (+1 взвешивание). Если шары весят одинаково, то тяжёлый шар – третий из набора, который не взвешивали. Иначе тяжёлый шар – тот который больше весит.
            </div>
            <div class="comment-info">
                <div class="like">
                    <a>
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <span>3</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
-->

@model LawFirm.Presenter.Models.BlogViewModels.ArticleViewModel


<div class="img-preview">
    <img src="@Model.ImagePath" class="img-responsive" />
</div>
<div class="article-text">
    <p>
        @Model.Text
    </p>
</div>
<div class="details full">
    <div class="date-publicate ">
        @Model.CreationTime
    </div>
    <div class="like">
        <a>
            <i class="glyphicon glyphicon-heart-empty"></i>
            @if (Model.Likes != null) {
                <span>@Model.Likes.Count()</span>}
        </a>
    </div>
</div>
<div class="comments">
    <div class="comments-title">
        @if (Model.Comments != null) {
            <h4>Комментарии (@Model.Comments.Count())</h4>}
    </div>
    <div class="comments-collection">
        @if (Model.Comments != null) {
            foreach (var comment in Model.Comments) {
                <div class="comment-one">
                    <div class="comment-details">
                        <span class="author-name">@comment</span> |
                        <span class="date-comment">@comment.CreationTime</span>
                    </div>
                    <div class="comment-text">
                        @comment.Text
                    </div>
                    <div class="comment-info">
                        <div class="like">
                            <a>
                                <i class="glyphicon glyphicon-heart-empty"></i>
                                @if (Model.Likes != null) {
                                    <span>@Model.Likes.Count()</span>}
                            </a>
                        </div>
                        <div class="comment">
                            <a href="@Url.Action("", "", new {id = ""})">
                                <span>Ответить</span>
                            </a>
                        </div>
                    </div>
                </div>
}
        }

    </div>
</div>