@{
    ViewBag.Title = "Локальный репозиторий";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div class="row blog-preview-page">
        <div class="col-md-7 left-bar">
            <div>
                <div class="item-container">
                    <div class="img-preview">
                        <img src="~/Images/Blog/Blog-photos.jpg" class="img-responsive" />
                    </div>
                    <div class="article-text">
                        <p>
                            Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nullaEt tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis.

                            Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nullaEt tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

                            Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

                            Et tellus lorem tempus posuere facilisis ligula curabitur tortor et in dignissim tempus facilisis vestibulum auctor egestas. Tellus sagittis at egestas ultrices orci mauris iaculis. Hendrerit iaculis morbi morbi consectetur consectetur morbi faucibus mi praesent mi tempus nec tellus nulla

                        </p>
                    </div>
                    <div class="details full">
                        <div class="date-publicate ">25 сентября, 2016</div>
                        <div class="like">
                            <a>
                                <i class="glyphicon glyphicon-heart-empty"></i>
                                <span>6</span>
                            </a>
                        </div>
                    </div>
                    <div class="comments">
                        <div class="comments-title">
                            <h4>Комментарии (2)</h4>
                        </div>
                        <div class="comments-collection">
                            <div class="comment-one">
                                @*<div class="author-pic">
                                        <img/>
                                    </div>*@
                                @*<div class="comment-body">*@
                                <div class="comment-details">
                                    <span class="author-name">Дэвид Вильсон </span> |
                                    <span class="date-comment">1.11.2016 22:12 </span>
                                </div>
                                <div class="comment-text">
                                    Взвешиваем два любых набора по 3 шара (+1 взвешивание).
                                    Если наборы весят одинаково, то взвешиваем оставшиеся два шара (+1 взвешивание) и определяем тяжёлый шар.
                                    Если наборы весят по-разному, то из более тяжёлого набора берём любые два шара и взвешиваем (+1 взвешивание). Если шары весят одинаково, то тяжёлый шар – третий из набора, который не взвешивали. Иначе тяжёлый шар – тот который больше весит.
                                </div>
                                <div class="comment-info">
                                    <div class="like">
                                        <a>
                                            <i class="glyphicon glyphicon-heart-empty"></i>
                                            <span>2</span>
                                        </a>
                                    </div>
                                    <div class="comment">
                                        <a>
                                            <span>Ответить</span>
                                        </a>
                                    </div>
                                </div>
                                @*</div>*@

                            </div>
                            <div class="comment-one">
                                @*<div class="author-pic">
                                        <img/>
                                    </div>*@
                                @*<div class="comment-body">*@
                                <div class="comment-details">
                                    <span class="author-name">Nicolay K.L. </span> |
                                    <span class="date-comment">2.11.2016 22:12 </span> |
                                    <span class="answer-comment">
                                        Ответ
                                        <span class="author-name">Дэвид Вильсон </span>от
                                        <span class="date-comment">2.11.2016 22:12</span>
                                    </span>

                                </div>
                                <div class="comment-text">
                                    Взвешиваем два любых набора по 3 шара (+1 взвешивание).
                                    Если наборы весят одинаково, то взвешиваем оставшиеся два шара (+1 взвешивание) и определяем тяжёлый шар.
                                    Если наборы весят по-разному, то из более тяжёлого набора берём любые два шара и взвешиваем (+1 взвешивание). Если шары весят одинаково, то тяжёлый шар – третий из набора, который не взвешивали. Иначе тяжёлый шар – тот который больше весит.
                                </div>
                                <div class="comment-info">
                                    <div class="like">
                                        <a>
                                            <i class="glyphicon glyphicon-heart-empty"></i>
                                            <span>3</span>
                                        </a>
                                    </div>
                                    @*<div class="comment">
                                            <a>
                                                <i class="glyphicon glyphicon-comment"></i>
                                                <span>0</span>
                                            </a>
                                        </div>*@
                                </div>
                                @*</div>*@

                            </div>
                        </div>
                    </div>
                    <div class="create-comment" id="comment-creation">
                        @using (Ajax.BeginForm("CreateTestimonial", "Testimonial", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "comment-creation", OnSuccess = "alert('cscs')", }, new { @class = "", @id = "requestForm", role = "form" })) {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="title-form">
                                @* <h2 class="text-uppercase">@Model.Title</h2>*@
                                <h2>Добавить комментарий</h2>
                            </div>
                            @*<div class="text-center add-text">
                                    <h4>@Model.SubTitle</h4>
                                </div>*@
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @*<label class="sr-only">@Model.PhName</label>*@
                                    @*@Html.LabelFor(m => m.PhName, new { @class = "col-md-3 control-label" })*@
                                    @* @Html.TextBoxFor(m => m.RequestViewModel.Name, new { @class = "form-control", @id = "inputName", @placeholder = Model.PhName })*@
                                    <input type="text" class="form-control" id="inputName" placeholder="ФИО" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @*<label class="sr-only">@Model.PhEmail</label>*@
                                    @*@Html.TextBoxFor(m => m.RequestViewModel.Email, new { @class = "form-control", @id = "inputEmail", @placeholder = Model.PhEmail })*@
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Адрес электронной почты">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @*<label class="sr-only">@Model.PhTestimonial</label>*@
                                    @*@Html.TextAreaFor(m => m.RequestViewModel.Description, new { @class = "form-control", @id = "inputDescription", @placeholder = Model.PhDescription })*@
                                    <textarea class="form-control" id="inputDescription" placeholder="Ответ"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group button">
                                <input type="submit" class="btn" value="Отправить" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-4 right-bar">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <div class="input-group search-group">
                    <input type="text" class="form-control" placeholder="Найти...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div><!-- /input-group -->
            }
            <div class="recent-news">
                <h4>Последние новости</h4>
                <ul>
                    <li class="clearfix">
                        <div class="item-preview-container">
                            <div class="img-preview">
                                <img src="~/Images/Blog/Blog-photos.jpg" class="img-responsive" />
                            </div>
                            <div class="shortest-text">
                                <a class="news-title">локальный репозиторий</a>
                                <p>
                                    локальный репозиторий лок альный репози
                                    <a> → </a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="item-preview-container">
                            <div class="img-preview">
                                <img src="~/Images/Blog/Blog-photos.jpg" class="img-responsive" />
                            </div>
                            <div class="shortest-text">
                                <a class="news-title">локальный репозиторий</a>
                                <p>
                                    локальный репозиторий лок альный репози
                                    <a> → </a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="archive">
                <h4>Архив новостей</h4>
                <ul>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Ноябрь 2016</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Декабрь 2016</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Ноябрь 2016</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Декабрь 2016</a>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="categories">
                <h4>Категории</h4>
                <ul>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Семейное право</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Образование</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Семейное право</a>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="">
                            <a class="">Недвижимость</a>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>