@using LawFirm.Presenter.Models.CommentViewModels

@model LawFirm.Presenter.Models.BlogView

@{
    ViewBag.Title = Model.CurrentArticle.Title;
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@Model.CurrentArticle.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div class="row blog-preview-page">
        <div class="col-md-7 left-bar">
            <div>
                <div class="item-container">
                    @Html.Partial("_Article", Model.CurrentArticle)
                    @Html.Partial("../Comment/_CommentForm", new CommentFormViewModel { ArticleId = Model.CurrentArticle.Id })
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-4 right-bar">
            @Html.Partial("_FindForm")
            @Html.Partial("_LastArticles", Model.LastArticles)
            @Html.Partial("_ArchiveList", Model.ArchiveList)
            @Html.Partial("_CategoriesList", Model.Categories)
        </div>
    </div>
</div>