@using PagedList;
@using PagedList.Mvc;
@using LawFirm.Models;
@model LawFirm.Presenter.Models.BlogView

@{
    ViewBag.Title = ViewBag.Category != null ? "Блог. "+ ViewBag.Category : "Блог";
    ViewBag.Title = ViewBag.Archive != null ? "Блог. "+ ViewBag.Archive : "Блог";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div class="row blog-preview-page">
        <div class="col-md-7 left-bar">
            <ul>
                @foreach (ArticleInfo item in Model.ArticlesPage) {
                    <li>
                        @Html.Partial("_ArticlePreview", item)
                    </li>}
            </ul>
            @Html.PagedListPager(Model.ArticlesPage, pageNumber => Url.Action("Index", new { pageNumber }))
        </div>
        <div class="col-md-offset-1 col-md-4 right-bar">
            @Html.Partial("_FindForm")
            @Html.Partial("_LastArticles", Model.LastArticles)
            @Html.Partial("_ArchiveList", Model.ArchiveList)
            @Html.Partial("_CategoriesList", Model.Categories)
        </div>
    </div>
</div>