@model LawFirm.Presenter.Models.CommentViewModels.CommentViewModel

<div class="comment-one" id="comment@(Model.Id)">
    <div class="comment-details">
        <span class="author-name">@Model.ApplicationUserName</span> |
        <span class="date-comment">@Model.CreationTime</span>
    </div>
    <div class="comment-text">
        @Model.Text
    </div>
    <div class="comment-info">
        @if (Model.Likes != null) {  @Html.Partial("../Like/_LikeComment", Model.Likes) }

        <div class="comment">
            <a data-ajax="true" data-ajax-method="POST" data-ajax-update='#answers@(Model.Id)' id='#artCom@(Model.ArticleId)'
              href="@Url.Action("Reply", "Comment", new {idArticle = Model.ArticleId, idComment = Model.Id})">
                <span>Ответить</span>
            </a>
        </div>
    </div>
</div>
<div class="comment-answers-collection" id="answers@(Model.Id)">
    
</div>