@model LawFirm.Presenter.Models.BlogView

<div class="blog-preview-block">
    <div class="text-center">
        <h2>Блог</h2>
    </div>
    <div class="reference text-center">
        <a href="@Url.Action("Index","Blog")">Перейти к полному списку</a>
        <i class="glyphicon glyphicon-arrow-right"></i>
    </div>
    <div class="row preview-block">
        @foreach (var item in Model.Articles) {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 item-container">
                <div class="img-preview">
                    <img src="@item.ImagePath" class="img-responsive" />
                </div>
                <div class="details">
                    <div class="data">
                        @item.CreationTime.Day.@item.CreationTime.Month.@item.CreationTime.Year
                    </div>
                    <div class="like">
                        <a>
                            <i class="glyphicon glyphicon-heart-empty"></i>
                            <span>@item.Likes</span>
                        </a>
                    </div>
                    <div class="comment">
                        <a>
                            <i class="glyphicon glyphicon-comment"></i>
                            <span>@item.Comments</span>
                        </a>
                    </div>
                </div>
                <div class="title">
                    <a>@item.Title</a>
                </div>
                <div class="short-text">
                    <p>@item.Text
                    <a> → </a>
                </p>
            </div>
        </div>
        }
    </div>
</div>
<hr />

