<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/app")
   
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new {area = ""})" title="">
                    <img class="img-responsive logo-img" src="~/Images/logo.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right" id="custom-menu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Обо мне", "About", "Home")</li>
                    <li>@Html.ActionLink("Дела", "Index", "Practice")</li>
                    <li>@Html.ActionLink("Блог", "Index", "Blog")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Testimonial")</li>
                    <li>@Html.ActionLink("ЧаВо", "Index", "Question")</li>
                    <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
        @*<hr />*@
    </div>
    <div class="footer">
        <div class="container row">
            <div class="col-md-3 footer-block">
                <div class="shortblock">
                    <h4>Разделы</h4>
                    <ul class="menu">
                        <li>@Html.ActionLink("Обо мне", "About", "Home")</li>
                        <li>@Html.ActionLink("Дела", "Index", "Practice")</li>
                        <li>@Html.ActionLink("Блог", "Index", "Blog")</li>
                        <li>@Html.ActionLink("Отзывы", "Index", "Testimonial")</li>
                        <li>@Html.ActionLink("ЧаВо", "Index", "Question")</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-block">
                <div class="shortblock">
                    <h4>Контакты</h4>
                    <ul class="footer-contacts-list">
                        <li>
                            <div class="footerlist-glyphicon">
                                <i class="glyphicon glyphicon-earphone"></i>
                            </div>
                            <div class="footerlist-text">
                                @if (ViewBag.AppSettings != null) {
                                    if (ViewBag.AppSettings.PhoneNumber1 != null) {
                                        <span> @ViewBag.AppSettings.PhoneNumber1 </span><br />}

                                    if (ViewBag.AppSettings.PhoneNumber2 != null) {
                                        <span> @ViewBag.AppSettings.PhoneNumber2 </span><br />}

                                    if (ViewBag.AppSettings.PhoneNumber3 != null) {
                                        <span> @ViewBag.AppSettings.PhoneNumber3 </span>}
                                }
                            </div>
                        </li>
                        <li>
                            <div class="footerlist-glyphicon">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </div>
                            <div class="footerlist-text">
                                @if (ViewBag.AppSettings != null) {
                                    <span> @ViewBag.AppSettings.City</span>
                                    <br />
                                    <span> @ViewBag.AppSettings.Address</span>}
                            </div>
                        </li>
                        <li>
                            <div class="footerlist-glyphicon">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                            <div class="footerlist-text">
                                @if (ViewBag.AppSettings != null) {
                                    <span> @ViewBag.AppSettings.Email</span>}
                            </div>
                        </li>
                        <li>
                            <div class="footerlist-glyphicon">
                                <i class="glyphicon glyphicon glyphicon-time"></i>
                            </div>
                            <div class="footerlist-text">
                                @if (ViewBag.AppSettings != null) {
                                    if (ViewBag.AppSettings.WorkingHours1 != null) {
                                        <span> @ViewBag.AppSettings.WorkingHours1 </span><br />}

                                    if (ViewBag.AppSettings.WorkingHours2 != null) {
                                        <span> @ViewBag.AppSettings.WorkingHours2 </span><br />}

                                    if (ViewBag.AppSettings.WorkingHours3 != null) {
                                        <span> @ViewBag.AppSettings.WorkingHours3 </span><br />}
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3  footer-block">
                <div class="shortblock">
                    <h4>Обо мне</h4>
                    <div class="">
                        @*@if (ViewBag.AppSettings != null) {
                            <p>@ViewBag.AppSettings.About</p>}*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-block">
                <div class="shortblock">
                    <h4>Последние новости</h4>
                    <ul class="recent-news-footer">
                        <li>
                            <a href="">Etiam id neque ac tortor malesuada</a>
                            <br />
                            <span class="post-date">March 13, 2014</span>
                        </li>
                        <li>
                            <a href="">Etiam id neque ac tortor malesuada</a>
                            <br />
                            <span class="post-date">February 13, 2014</span>
                        </li>
                        <li>
                            <a href="">Etiam id neque ac tortor malesuada</a>
                            <br />
                            <span class="post-date">January 13, 2014</span>
                        </li>
                        <li>
                            <a href="">Etiam id neque ac tortor malesuada</a>
                            <br />
                            <span class="post-date">December 26, 2013</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="text-center">&copy; @DateTime.Now.Year – Copyright. All Rights Reserved.</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>