@model LawFirm.Presenter.Models.QuestionViewModel


@{
    ViewBag.Title = "Создание нового вопроса";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div id="form-modify" class="form-modify">
    <div class="container">
        @using (Html.BeginForm("Create", "Question", FormMethod.Post)) {
            @Html.AntiForgeryToken()

            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.QuestionText, new { @class = "form-control", @id = "question", @placeholder = "Вопрос" })
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.Answer, new { @class = "form-control", @id = "answer", @placeholder = "Ответ" })
                </div>
            </div>
            <div class="col-md-offset-5 col-md-7 form-group button">
                <input type="submit" class="btn btn-lg" value="Сохранить" />
            </div>
        }

    </div>
</div>

<div class="return-link text-center">
    @Html.ActionLink("<< Назад к списку", "Administrate", "Home")
</div>