@model LawFirm.Presenter.Models.TestimonialViewModels.TestimonialFormViewModel

<div id="testimonial" class="form testimonial-creation">
    @using (Ajax.BeginForm("CreateTestimonial", "Testimonial", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "testimonial", OnSuccess = "", }, new { @class = "", @id = "forma", role = "form" })) {
        @Html.AntiForgeryToken()
        <div class="text-center title-form">
            <h2 class="text-uppercase">Оставьте свой отзыв</h2>
        </div>
        <div class="col-md-offset-1 col-md-5">
            <div class="form-group text-center">
                @Html.TextBoxFor(m => m.Author, new { @class = "form-control", @id = "author", @placeholder = "ФИО" })
                @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="col-md-5">
                <div class="form-group text-center">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email", @placeholder = "Адрес электронной почты" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group text-center">
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @id = "inputArea", @placeholder = "Сообщение" })
                    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-offset-5 col-md-7 form-group button">
                <input type="submit" class="btn btn-success-own" value="Отправить" />
            </div>
    }
</div>